services:
  db:
    image: postgres:16
    volumes:
      - db-store:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      TZ: 'Asia/Tokyo'
    ports:
      - "5433:5432"
    restart: always

volumes:
  db-store:
